:root {
  --dash_dark_blu: #165bba;
}

/* Utilities */
.badeg_blue {
  background-color: var(--dash_dark_blu);
}
/* Debug */
.debug #site_header {
  background-color: blue;
}

/* Header */
#site_header {
  height: 70px;
  display: flex;
}

/* #header {
  height: 200px;
} */

/* main */

.wrapper {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.sidebar {
  background-image: url("../img/sidebar-bg.png");
  background-color: #000000;
  width: 71px;
}

.sidebar li:hover {
  background-color: gray;
}

.sidebar_top {
  height: calc(100% - 30px);
}

.sidebar_bottom {
  height: 30px;
}

.sidebar_top span,
.sidebar_bottom span,
[alt="Logo"] {
  display: none;
}

label {
  display: inline-block;
  font-size: 0.5rem;
}

label, td {
  font-weight: 700;
}

td {
  font-weight: 500;
}

/* Responsive */
@media screen and (min-width: 576px) {
.offcanvas.show:not(.hiding) {
  transform: none;
  width: 100%;
}

}

@media screen and (min-width: 992px) {
  .sidebar {
    width: 149px;
  }

  .sidebar_top span,
  .sidebar_bottom span {
    display: inline-block;
  }

  .offcanvas.show:not(.hiding) {
    transform: none;
    width: 50%;
  }

  label {
    font-size: 0.7rem;
  }

}

@media screen and (min-width: 1200px) {
  label {
    font-size: 0.9rem;
  }
}
